body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; 
    color: #fff; 

}
.zapfino-text{
    font-family: 'Zapfino', serif; 
    text-transform: uppercase; 
    font-size: 2em;
}   
.banner {
    position: relative;
    height: 400px; 
    overflow: hidden; 
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('RPReplay_Final1729691712%203.mp4') no-repeat center center;
    background-size: cover;
    z-index: -1; 
}

.banner h1 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    text-align: center;
}


.content {
    text-align: center;
    padding: 20px;
}

.content h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ffcc00;
}

.content p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #e0e0e0; 
}


.sections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.section p {
    text-align: justify;
}

.section {
    background-color: #212121; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}
.video {
    padding: 20px;
    color: #fff; 
    text-align: center;
}

.video-banner video {
    max-width: 100%;
    height: auto;
}

.video-banner p {
    margin-top: 10px;
    font-size: 18px;
}

.section img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.section h3 {
    font-size: 24px;
    margin-top: 15px;
    color: #ffcc00; 
}

.section a {
    text-decoration: none;
    color: #ffcc00; /ссылки/
    font-weight: 500;
}

.section:hover {
    transform: scale(1.05);
}

footer {
    background-color: #f0c117;
    color: #000000;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}